<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Informix Database</title>
</head>
<body>
<ul>
	<% commands.forEach(function(command) { %>
		<%= command %><br>
	<% })%>
</ul>
</body>
</html>